<key>NSLocationWhenInUseUsageDescription</key>
<string>This app needs access to location when open to show your current location on the map.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>This app needs access to location when in the background to track your trips.</string>
<key>io.flutter.embedded_views_preview</key>
<true/>
<key>NSBluetoothAlwaysUsageDescription</key>
<string>Need Bluetooth permission for connecting to devices</string>
<key>NSBluetoothPeripheralUsageDescription</key>
<string>Need Bluetooth permission for connecting to devices</string>